@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom Typography */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500&family=Noto+Serif+SC:wght@200;300;400;500&display=swap');

@layer base {
    body {
        @apply font-sans antialiased text-gray-800 bg-white;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
    }
}

@layer components {
    .btn-primary {
        @apply px-8 py-3 border border-black text-black uppercase tracking-[0.2em] text-sm hover:bg-black hover:text-white transition duration-300;
    }
    .annotated-field:focus {
        @apply ring-0 border-gray-500;
    }
}
